#i1ydsl {padding:  10px; 
	text-align:  center; 
	padding-top:  10px; 
	padding-right:  10px; 
	padding-bottom:  0px; 
	padding-left:  10px; 
	font-size:  20px; 
	background-color:  rgba(223, 223, 223, 0.43); 
	font-family:  Arial, Helvetica, sans-serif;}
#ilml7n {padding-top:  50px; 
	padding-right:  0px; 
	padding-bottom:  49px; 
	padding-left:  0px; 
	background-color:  rgba(223, 223, 223, 0.43);}
#i9fa2y {font-family:  Arial, Helvetica, sans-serif;}
#ifxtg9 {padding:  10px; 
	text-align:  center; 
	font-family:  Arial, Helvetica, sans-serif; 
	font-size:  17px;}
#ia9n44 {margin-top:  0px; 
	margin-right:  0px; 
	margin-bottom:  0px; 
	margin-left:  0px; 
	background-color:  rgba(223, 223, 223, 0.43); 
	font-family:  Arial, Helvetica, sans-serif; 
	padding-top:  61px; 
	padding-right:  0px; 
	padding-bottom:  50px; 
	padding-left:  0px;}
#i5gyjw {height:  100%; 
	padding-top:  0px; 
	padding-right:  0px; 
	padding-bottom:  0px; 
	padding-left:  0px; 
	margin-top:  10px; 
	margin-right:  10px; 
	margin-bottom:  107px; 
	margin-left:  10px;}
#ieebk1 {padding-top:  0px; 
	padding-right:  0px; 
	padding-bottom:  0px; 
	padding-left:  0px; 
	background-color:  rgba(222, 222, 222, 1); 
	font-family:  Arial, Helvetica, sans-serif; 
	color:  rgba(59, 51, 51, 1);}
#i9wz66 {position:  relative; 
	left:  42%;}
#i4jo41 {position:  relative;}
#i9ed1 {background-color:  rgba(223, 223, 223, 0.43); 
	font-size:  20px; 
	position:  relative; 
	margin-top:  0px; 
	margin-right:  0px; 
	margin-bottom:  0px; 
	margin-left:  3px; 
	padding-top:  0px; 
	padding-right:  0px; 
	padding-bottom:  0px; 
	padding-left:  0px; 
	text-align:  center; 
	font-family:  Arial, Helvetica, sans-serif;}
#ifevg {background-color:  rgba(223, 223, 223, 0.43);}
#ickg5 {padding-top:  0px; 
	padding-right:  0px; 
	padding-bottom:  0px; 
	padding-left:  0px;}
#i4cxd {background-color:  rgba(223, 223, 223, 0.43);}
#iy2cl {width:  206px; 
	height:  206px; 
	position:  relative; 
	left:  10%;}
#i1jch {width:  164px; 
	height:  115px; 
	position:  relative; 
	left:  15%;}
#iznkn {width:  189px; 
	height:  170px; 
	position:  relative; 
	left:  20%;}
#iau9 {background-color:  rgba(223, 223, 223, 0.43); 
	color:  rgba(47, 46, 46, 1); 
	background-clip:  border-box;}
#i6jlw {background-color:  rgba(223, 223, 223, 0.43);}
#ifiki {width:  88px; 
	height:  58px; 
	position:  relative; 
	left:  45%;}
#i8xiu {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	background-color:  rgba(13, 12, 12, 1); 
	left:  25%;}
#iqhsu {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	left:  30%;}
#ifs4f {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  190%;}
#istxl {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  230%;}
#iflwa {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  230%;}
#i9ki9 {color:  #ffffff; 
	background-color:  #2b2829; 
	font-size:  14px; 
	border-radius:  9px; 
	padding:  20px 60px; 
	cursor:  pointer; 
	position:  relative; 
	left:  40%; 
	top:  120%;}
#io559 {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	left:  32%;}
#i6364 {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	left:  30%;}
#ir70l {font-family:  Arial, Helvetica, sans-serif;}
#ibfot {text-align:  center;}
#iondqi {width:  88px; 
	height:  58px; 
	position:  relative; 
	left:  45%;}
#iwzeu3 {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	background-color:  rgba(13, 12, 12, 1); 
	left:  25%;}
#iovz94 {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	left:  30%;}
#izpx3g {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  190%;}
#ic3v4j {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  230%;}
#iv2nzk {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  210%;}
#i1gnf {background-color:  rgba(223, 223, 223, 0.43); 
	padding-top:  2px; 
	padding-right:  0px; 
	padding-bottom:  50px; 
	padding-left:  0px;}
#iwzgj {padding:  10px; 
	font-size:  20px; 
	margin-top:  0px; 
	margin-right:  0px; 
	margin-bottom:  0px; 
	margin-left:  0px; 
	padding-top:  10px; 
	padding-right:  10px; 
	padding-bottom:  10px; 
	padding-left:  10px;}
#i7udyk {padding-top:  0px; 
	padding-right:  0px; 
	padding-bottom:  0px; 
	padding-left:  60px; 
	background-color:  rgba(223, 223, 223, 0.43);}
#iqkn8v {padding:  10px; 
	text-align:  center; 
	font-size:  40px; 
	font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  5%;}
#iflwv {font-family:  Arial, Helvetica, sans-serif; 
		position:  relative; 
		right:  210%;}
#usernamecheckmark {position:  absolute; 
	visibility:  hidden; 
	grid-column: 3/4; 
	font-size:  14px; 
  color:  #32CD32;}
#usernamexmark {visibility:  hidden; 
	position:  relative; 
    font-size:  14px; 
    color:  #b20000;}
#inputxmark {display:  inline-flex;}
#tooltip {position:  absolute; 
	color:  blue; 
	white-space:  nowrap; 
	font-size:  10px;}
#emailxmark {display:  inline; 
  position:  relative; 
  font-size:  14px; 
  color:  #b20000;}
#emailmsg {white-space: nowrap; 
	margin:  0; 
	position:  absolute; 
	font-size:  10px; 
	color:  #b20000;}
#passwordxmark1 {grid-column:  3; 
		grid-row:  3;}
#passwordxmark2 {grid-column:  3; 
		grid-row:  4;}
#passwordcheckmark1 {grid-column:  3; 
		grid-row: 3; 

		position:  absolute;}
#passwordcheckmark2 {grid-column:  3; 
			grid-row: 4; 
	
			position:  absolute; 
			font-size:  14px; 
			
			color: #32CD32;}
#i6n4i {background-color:  rgba(223, 223, 223, 0.43);}
#ijh2h5 {width:  88px; 
	height:  58px; 
	position:  relative; 
	left:  45%;}
#i8nwqk {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	background-color:  rgba(13, 12, 12, 1); 
	left:  25%;}
#iya9ie {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	left:  30%;}
#ie654j {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  190%;}
#pass {position:  relative; 
	left:  28.5%;}
#i7tneh {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  230%;}
#iptkwi {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  210%;}
#iwo2xf {position:  relative; 
	left:  35%;}
#ipve0z {position:  relative; 
	left:  32%; 
	font-family:  Arial, Helvetica, sans-serif; 
	color:  rgba(60, 60, 60, 1);}
#ihdl4o {position:  relative; 
	left:  3.5%; 
	font-family:  Arial, Helvetica, sans-serif; 
	color:  rgba(60, 60, 60, 1);}
#iun6cz {position:  relative; 
	left:  7%;}
#id1rci {position:  relative; 
	top:  -26%;}
#iaxsrd {position:  relative; 
	top:  220%;}
#loginerror {position:  absolute; 
	top:  46%; 
	color:  red; 
	font-size:  10px; 
	left:  48%;}
#i8nk8h {padding-top:  50px; 
	padding-right:  0px; 
	padding-bottom:  115px; 
	padding-left:  0px; 
	position:  relative; 
	top:  12%; 
	width:  60%; 
	height:  30%; 
	left:  20%; 
	background-image:  unset; 
	background-position:  unset; 
	background-size:  unset; 
	background-repeat:  unset; 
	background-attachment:  unset; 
	background-origin:  unset; 
	border-top-left-radius:  23px; 
	border-top-right-radius:  23px; 
	border-bottom-right-radius:  23px; 
	border-bottom-left-radius:  23px; 
	background-color:  rgba(189, 189, 189, 0.32);}
#iv2s8q {color:  #ffffff; 
	background-color:  #2b2829; 
	font-size:  14px; 
	border-radius:  9px; 
	padding:  20px 60px; 
	cursor:  pointer; 
	position:  relative; 
	left:  40%; 
	bottom:  -90%;}
#i3y0ym {height:  50px;}
#iwtn64 {background-color:  rgba(223, 223, 223, 0.43);}
#it2qpn {width:  88px; 
	height:  58px; 
	position:  relative; 
	left:  45%;}
#ijrd81 {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	background-color:  rgba(13, 12, 12, 1); 
	left:  25%;}
#ic6c2t {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	left:  30%;}
#iclbzk {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  190%;}
#i1gkyy {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  230%;}
#id3mkm {font-family:  Arial, Helvetica, sans-serif; 
	position:  relative; 
	right:  210%;}
#il0wej {position:  relative; 
	
	font-family:  Arial, Helvetica, sans-serif; 
	color:  rgba(60, 60, 60, 1);}
#ifeddo {position:  relative; 
	top:  200%;}
#i4ne3v {position:  relative; 
	height:  100%; 
	width:  100%;}
#submit-signup {color:  #ffffff; 
	background-color:  #2b2829; 
	font-size:  14px; 
	border-radius:  9px; 
	padding:  20px 60px; 
	cursor:  pointer; 
	position:  relative; 
	left:  -1%; 
	top:  164%;}
#iik88i {position:  relative; 
	
	font-family:  Arial, Helvetica, sans-serif; 
	color:  rgba(60, 60, 60, 1);}
#email-input {position:  relative;}
#ipy1qg {padding-top:  50px; 
	padding-right:  0px; 
	padding-bottom:  11%; 
	padding-left:  0px; 
	position:  relative; 
	top:  12%; 
	width:  60%; 
	height:  300%; 
	left:  20%; 
	background-image:  unset; 
	background-position:  unset; 
	background-size:  unset; 
	background-repeat:  unset; 
	background-attachment:  unset; 
	background-origin:  unset; 
	border-top-left-radius:  23px; 
	border-top-right-radius:  23px; 
	border-bottom-right-radius:  23px; 
	border-bottom-left-radius:  23px; 
	background-color:  rgba(189, 189, 189, 0.32);}
#i8muyk {position:  relative; 
	white-space:  nowrap; 
	font-family:  Arial, Helvetica, sans-serif; 
	color:  rgba(60, 60, 60, 1);}
#i0kpx2 {position:  relative; 
	left:  14%; 
	top:  -169%;}
#izcmhy {position:  relative; 
	
	font-family:  Arial, Helvetica, sans-serif; 
	color:  rgba(60, 60, 60, 1);}
#iflwa .tooltiptext {
	visibility: hidden;
	width: 300%;
	color: black;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	border:3px solid black;
	bottom: -100%;
	left: 50%;
	margin-left: -60px;
	background-color:white;
	opacity: 0;
	transition: opacity 1s;
  }
  #iflwa:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }

#i9ki9:active {
	color: #2d63c8;
	background-color: #ffffff;
	position: relative;
}
#iqhsu:active {
	position: relative;
}
#iovz94:active {
	position: relative;
}
#iqhsu:active {
	position: relative;
}
.gjs-container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}
.gjs-section {
	display: flex;
	padding: 50px 0;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media (max-width:768px) {
	.navbar-items-c {
		display: none;
		width: 100%;
	}
	.navbar-burger {
		display: block;
	}
	.navbar-menu {
		width: 100%;
	}
	.navbar-menu-link {
		display: block;
	}
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.grid-container {
	position: relative;
	left: 30%;
	display: inline-grid;
	width:40%;
	grid-row-gap: 15% ;
	grid-column-gap: 2%;
	height: 100%;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;
  }
  .grid-container>p {
	margin: 0;
  }
  .grid-container>input {
	align-self: start;
  }
  .grid-container>label {
	align-self: start;
  }
  .passwordxmark{
	visibility: hidden;
	font-size: 14px;
	color: #b20000;
	}
	.passwordcheckmark{
		font-size: 14px;
		visibility: hidden;
	color:#32CD32;
	}
  div.grid-container label{
	text-align:right;
  }
.navbar {
	background-color: #222;
	color: #ddd;
	min-height: 50px;
	width: 100%;
}
.navbar-container {
	max-width: 950px;
	margin: 0 auto;
	width: 95%;
}
.navbar-items-c {
	display: inline-block;
	float: right;
}
.navbar-container::after {
	content: "";
	clear: both;
	display: block;
}
.navbar-menu {
	padding: 10px 0;
	display: block;
	float: right;
	margin: 0;
}
.navbar-menu-link {
	margin: 0;
	color: inherit;
	text-decoration: none;
	display: inline-block;
	padding: 10px 15px;
}
.gjs-container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}
.gjs-section {
	display: flex;
	padding: 50px 0;
}
#iya9ie:active {
	position: relative;
}
.navbar {
	background-color: #222;
	color: #ddd;
	min-height: 50px;
	width: 100%;
}
.navbar-container {
	max-width: 950px;
	margin: 0 auto;
	width: 95%;
}
.navbar-items-c {
	display: inline-block;
	float: right;
}
.navbar-container::after {
	content: "";
	clear: both;
	display: block;
}
.navbar-menu {
	padding: 10px 0;
	display: block;
	float: right;
	margin: 0;
}
.navbar-menu-link {
	margin: 0;
	color: inherit;
	text-decoration: none;
	display: inline-block;
	padding: 10px 15px;
}
.navbar-burger {
	margin: 10px 0;
	width: 45px;
	padding: 5px 10px;
	display: none;
	float: right;
	cursor: pointer;
}
.navbar-burger-line {
	padding: 1px;
	background-color: white;
	margin: 5px 0;
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	undefined: undefined;
	animation: spin 2s linear infinite;
}
.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
#iqhsu:active {
	position: relative;
}
#iovz94:active {
	position: relative;
}
.gjs-container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}
.gjs-section {
	display: flex;
	padding: 50px 0;
}
#iya9ie:active {
	position: relative;
}
#ic6c2t:active {
	position: relative;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media (max-width:768px) {
	.navbar-items-c {
		display: none;
		width: 100%;
	}
	.navbar-burger {
		display: block;
	}
	.navbar-menu {
		width: 100%;
	}
	.navbar-menu-link {
		display: block;
	}
}
